@page
@model WebApplication1.Pages.EmployeePageModel
@{
}

<div>Employee Page</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Status
            </th>
            <th>
               Manager
            </th>
            <th>
               Wfm_Manager
            </th>
            <th>
               Email
            </th>
            <th>
                Skills
            </th>
        </tr>
    </thead>
        <tbody id="tdata">

        </tbody>
        </table>

<script src="~/js//EmployeePage.js"></script>